body{
    margin: 0;
    /**background-color: orange;*/
    background: url("pic/21.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

/**导航栏**/
input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: grey;
}
input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: grey;
}
input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: grey;
}
input::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: grey;
}
.navbar{
    padding: 0 12%;
    background-color: rgba(226,53,57,0);
}
.fengmi{
    position: absolute;
    left: 70px;
}
.sing{
    padding: 18px 25px;
    font-size: 32px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 75px;
    position: relative;
}
li {
    float: right;
}
li a {
    font-size: 19px;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}
li a:hover {
    color: white;
}
.uling{
    position: relative;
}

/**主体**/
.con{
    margin: 20px 13%;
    padding: 20px 50px;

}
.middle{
    margin: 35px;
    padding: 40px 100px;
    background-color: rgba(256,256,256,0.9);
    border-radius: 10px;
    color: black;
    position: relative;

}
.tishi{
    font-size: 22px;
    color: rgba(50,50,50,0.8);
}
.feedback{
    border-radius: 8px;
    background-color: rgba(240,240,240,0.2);
    font-size: 21px;
    color: #727272;
    width: 80%;
}
.idd{
    width: 98%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;

    background-color: rgba(240,240,240,0.2);
    padding: 5px 10px;
    font-size: 18px;
    margin: 30px 0;

}
.btnbtn{
    height: 50px;
    width: 200px;
    background-color: rgba(240,240,240,0.8);
    border-radius: 3px;
    border: 1px solid grey;
    display:block;
    margin:0 auto;
    font-size: 20px;
    color: grey;

}
/**尾部**/
.tail{
    margin: 0;
    padding: 20px;
    text-align: center;
    color: white;
}
.tails{
    background-color: rgba(140,140,250,0);
    padding: 2px;
    text-align: center;
    color: black;
}
.erweima{
    margin: 15px 10px;
    padding: 5px;
}
.zi{
    margin: 5px 35px;
    padding: 5px;
}