body{
    margin: 0;
    /**background-color: orange;*/
    background: url("pic/49.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

/**导航栏**/
input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: grey;
}
input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: grey;
}
input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: grey;
}
input::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: grey;
}
.navbar{
    padding: 0 12%;
    background-color: rgba(107,126,201,0.6);
}
.fengmi{
    position: absolute;
    left: 70px;
}
.sing{
    padding: 18px 25px;
    font-size: 32px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 75px;
    position: relative;
}
li {
    float: right;
}
li a {
    font-size: 19px;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}
li a:hover {
    color:white;
}
.uling{
    position: relative;
}
/**主体**/
.con{
    margin: 30px 5%;
    padding: 30px 5%;

}
.box{
    width: 70%;
    margin: 30px 15%;
}
.box1 {
    width: 90%;
    margin: 15px 5%;
    background-color: rgba(256,256,256,0.7);
    border-radius: 10px;
}

.item1{
    width: 80%;
    padding: 40px 10%;
}
.zi11{
    font-size: 20px;
    color: grey;
    margin:5px;
    padding:5px;
}
.xian1{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: gainsboro;
    width: 100%;
    background-color: rgba(256,256,256,0.5);
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 18px;
}
.btns{
    border: none;
    padding: 10px;
    margin: 40px 220px;
    width: 180px;
    border-radius: 4px;
    background-color: rgba(256,256,256,0.7);
    font-size: 20px;
    color: grey;
}
/**尾部**/
.tail{
    margin: 0;
    padding: 20px;
    text-align: center;
    color: white;
}
.tails{
    background-color: rgba(140,140,250,0);
    padding: 2px;
    text-align: center;
    color: white;
}
.erweima{
    margin: 15px 10px;
    padding: 5px;
}
.zi{
    margin: 5px 35px;
    padding: 5px;
}
@media screen and (max-width: 1300px) {
    .fengmi{
        position: absolute;
        left: -20px;
    }


}