<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="丰觅网">
    <meta name="Description" content="巴拉巴拉巴拉巴拉巴拉巴拉吧" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/publish.css">
    <title>丰觅网——发布</title>
</head>
<body>
<header class="heading">
    <div class="navbar">
        <ul class="uling">
            <li><a href="{{ url_for('user.qa') }}">常见问题</a></li>
            <li><a href="{{ url_for('user.contact') }}">联系我们</a></li>
            <li><a href="{{  url_for('user.usercenter2')}}">我的消息</a></li>
            <li><a href="{{ url_for('user.temp') }}">用户中心</a></li>
            <li class="fengmi"><a class="sing" href="{{  url_for('user.home')  }}">丰觅网</a></li>
        </ul>
    </div>
</header>


<div class="con">
    <div class="box">
        <div class="box1">

            <div class="item1">

                <img src="../static/pic/upl.png" alt="" height="300px" width="300px" class="uploading" >
                     <form action="{{ url_for('goods.add_second',parm='second') }}" method="post" enctype="multipart/form-data">
                <a href="javascript:;" class="file">请选择图片

                    <input type="file" name="photo" accept="image/x-png,image/gif,image/jpeg,image/bmp">
                </a>
            </div>

        </div>



        <div class="box2">
            <div class="item2">
                <div class="kuanga">

                        <p><a class="titb">标题：</a><input type="text" name="title" class="input1"></p>
                        <p><a class="titb">价格(￥)：</a><input type="text" name="money" class="input1"></p>
                        <p><a class="titb">详情：</a></p>
                    <p><a class="tits"><textarea name="descrip" id="" cols="30" rows="10" class="input2"></textarea> </a></p>
                        <button class="btnb" name="confirm">确认</button>
                    </form>
                </div>


            </div>

        </div>
    </div>
</div>


<div class="tail">

    <img src="../static/pic/weixin.jpg" alt="" height="100px" width="100px" class="erweima">
    <img src="../static/pic/xueyuan.jpg" alt="" height="100px" width="100px" class="erweima">
    <p><a class="zi">微信公众号</a>  <a >经济信息工程学院</a></p>
</div>
<div class="tails">
    <p>Copyright © DGT</p>
</div>
</body>

<script>
    {% if error %}
    window.alert("{{  error}}")
    {% endif %}

</script>
</html>