

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="丰觅网">
    <meta name="Description" content="巴拉巴拉巴拉巴拉巴拉巴拉吧" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/gif.css">
    <title>丰觅网——主页</title>
</head>
<body>
<header class="heading">
    <div class="navbar">
        <ul class="uling">
            <li><a href="{{ url_for('user.qa') }}">常见问题</a></li>
            <li><a href="{{ url_for('user.contact') }}">联系我们</a></li>
           <li><a href="{{ url_for('info.show_info') }}">我的消息</a></li>
            <li><a href="{{ url_for('user.temp') }}">用户中心</a></li>
            <form action="{{ url_for('goods.all_like') }}" method="post">
            <li><a class="search">
                <input type="text" placeholder="请输入搜索内容" class="search1" name="str">
                <input type="submit" value="搜索" class="search2">
            </a></li>
            </form>
            <li class="fengmi"><a class="sing" href="{{  url_for('user.home')  }}">丰觅网</a></li>
        </ul>
    </div>
</header>
<div class="meng">
<div class="con">
    <div class="box1">
        <div class="item1"><a href="{{ url_for('goods.post_info_tans',parm='info') }}" class="zi1">信息传递</a></div>
        <div class="item2"><a href="{{ url_for('goods.post_wenjuan',parm='wenjuan') }}" class="zi1">有偿问卷</a></div>
        <div class="item3"><a href="{{ url_for('goods.post_task',parm='task') }}" class="zi1">代跑帮帮</a></div>
    </div>
    <div class="box2">
        <div class="item4"><a href="{{ url_for('goods.post_second',parm='second') }}" class="zi1">跳蚤市场</a></div>
        <div class="item5"><a href="{{ url_for('user.import_info') }}" class="zi1">重要通知</a></div>
        <div class="item6">
            <a class="zi2">敬请期待...</a>
            <img src="../static/pic/jia.png" alt="" height="230" width="230" class="jia">
        </div>
    </div>

</div>

<div class="tail">

    <img src="../static/pic/weixin.jpg" alt="" height="100px" width="100px" class="erweima">
    <img src="../static/pic/xueyuan.jpg" alt="" height="100px" width="100px" class="erweima">
    <p><a class="zi">微信公众号</a>  <a >经济信息工程学院</a></p>
</div>
<div class="tails">
    <p>Copyright © DGT</p>
</div>
</div>
</body>
</html>