<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="丰觅网">
    <meta name="Description" content="巴拉巴拉巴拉巴拉巴拉巴拉吧" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/details_dp.css">
    <title>丰觅网——详情页</title>
</head>
<body>
<header class="heading">
    <div class="navbar">
        <ul class="uling">
            <li><a href="{{ url_for('user.qa') }}">常见问题</a></li>
            <li><a href="{{ url_for('user.contact') }}">联系我们</a></li>
            <li><a href="{{  url_for('user.usercenter2')}}">我的消息</a></li>
            <li><a href="{{ url_for('user.temp') }}">用户中心</a></li>
            <li class="fengmi"><a class="sing" href="{{  url_for('user.home')  }}">丰觅网</a></li>
        </ul>
    </div>
</header>


<div class="con">
    <div class="box">
        <div class="box1">

            <div class="item1">
            {% if tag_goods[0] %}






                <p><a class="zi11">标题：</a><a class="zi12">{{ (tag_goods[0])['title'] }}</a></p>
                <p><a class="zi11" >详情：</a><a  class="zi12">{{ (tag_goods[0])['descrip'] }}</a></p>
                <p><a class="zi11">金额：</a><a  class="zi12">{{ (tag_goods[0])['money'] }}</a></p>
{% endif %}

            <form action="{{ url_for('shop.shoping',tag='task') }}" method="post">

                <input type="hidden" name="goods_id" value="{{ (tag_goods[0])['id'] }}">
                <input type="submit" class="btns" value="领取">
               <!-- <button name="confirm" class="btns" type="submit">领取</button>-->
                </form>




                                  <form action="{{ url_for('info.info_ent') }}" method="post">
                    <input name="to_username" type="hidden" value="{{ tag_goods[0]['username'] }}">
                             <input type="submit" value="联系" class="btns">

                </form>

            </div>

        </div>



    </div>
</div>


<div class="tail">

    <img src="../static/pic/weixin.jpg" alt="" height="100px" width="100px" class="erweima">
    <img src="../static/pic/xueyuan.jpg" alt="" height="100px" width="100px" class="erweima">
    <p><a class="zi">微信公众号</a>  <a >经济信息工程学院</a></p>
</div>
<div class="tails">
    <p>Copyright © DGT</p>
</div>
</body>
</html>